<form {{action "save" on="submit"}}>
  <div>
    <label>
      Source
      {{input type="text" value=model.source}}
    </label>
  </div>
  <div>
    <label>
      Target
      {{input type="text" value=model.target}}
    </label>
  </div>
  <div>
    <label>
      Type
      {{input type="text" value=model.code}}
    </label>
  </div>
  <div>
    <input type="submit" value="Save">
  </div>
</form>
