<p>
  {{link-to "Link list" "links.index" }}
</p>

<h1>Link show</h1>

<p>
  <strong>Source:</strong>
  <span>{{model.source}}</span>
</p>

<p>
  <strong>Target:</strong>
  <span>{{model.target}}</span>
</p>

<p>
  <strong>Type:</strong>
  <span>{{model.code}}</span>
</p>

