html,
body {
  overflow-x: hidden;
}

body {
  background: whitesmoke;
  padding-top: 5rem;
}

.projects-edit .container {
  width: auto;
}

.main-wrapper {
  background: #fff;
  padding: 3rem 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  h1, h2, p, footer {
    text-align: center;
  }
}

.btn-toolbar {
  margin-bottom: 10px;
  .btn-group {
    button:first-child {
      margin-left: 10px;
    }
  }
}

footer {
  text-align: center;
}

