<hr>

<footer>
    <p>Powered by <a href="http://gishtech.com" target="_blank">Gishtech</a> | Copyright &copy; 2016 - 2017<br/>
    Crafted with <a href="http://emberjs.com" target="_blank">Ember.js</a> and <a href="http://rubyonrails.org" target="">Ruby on Rails</a></p>
</footer>