<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsHeader" aria-controls="navbarsHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {{#link-to 'application' class='navbar-brand'}}Gantt Planner<span class="sr-only">(current)</span>{{/link-to}}

    <div class="collapse navbar-collapse" id="navbarsHeader">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                {{#link-to 'tasks' class='nav-link'}}Tasks{{/link-to}}
            </li>
            <li class="nav-item">
                {{#link-to 'links' class='nav-link'}}Links{{/link-to}}
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
